<section class="media">
    <article class="media-col">
        <img src="./images/Spense.png" alt="Image of a spense" />
        <div class="media-content">
            <h1>Spense.com <span class="material-symbols-outlined arrow">
                    arrow_forward
                </span></h1>
            <p>Rethinking the way writers get paid, an open-source platform designed to help writing, and less on when
                and
                how they'll get paid. Project in collaboration with Codewell.cc</p>
    </article>
    <article class="media-col">
        <img src="./images/YelpCamp.png" alt="Image of a yelp camp" />
        <div class="media-content">
            <h1>YelpCamp.com<span class="material-symbols-outlined arrow">
                    arrow_forward
                </span></h1>
            <p>Allowing backpack travelers to perfectly plan their trip through an open-source platform similar to
                TripADvisor. With over 1m MAU, YelpCamp has been the crowd's favourite in 2021</p>
        </div>
    </article>
</section>