<nav class="nav collapsible">
    <a href="#" class="nav__author">Johnathan specter</a>
    <svg class="nav__toggler" width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 4H0V0H24V4ZM24 8H0V12H24V8ZM24 16H0V20H24V16Z" fill="white" />
    </svg>
    <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="">Articles</a></li>
        <li class="nav__item"><a href="">Chats</a></li>
        <li class="nav__item"><a href="">Awards</a></li>
        <li class="nav__item"><a href="">About</a></li>
        <button class="btn">Get in touch</button>
    </ul>


    <script src="./js/main.js"></script>

</nav>